<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>portfolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon.png">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <header id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(255,255,255,0); padding: 30px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0);" data-top-bottom="background: rgba(255,255,255,1); padding: 10px 0; box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.2);">
        <nav id="primary-navigation" class="site-navigation">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-target="#portfolio-perfect-collapse" aria-expanded="false" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a href="#hero" class="site-logo"><img src="static/img/logo.png" alt="logo"></a>

                </div><!-- /.navbar-header -->

                <div class="main-menu" id="portfolio-perfect-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#hero">Home</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#service">Service</a></li>
                        <li class="page-scroll"><a href="#portfolio">Portfolio</a></li>
                        <li class="page-scroll"><a href="#contact">Contact</a></li>
                        
                    </ul><!-- /.navbar-nav -->

                </div><!-- /.navbar-collapse -->

            </div>
        </nav><!-- /.primary-navigation -->
    </header><!-- /#header -->

    <div id="hero" class="hero">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <h1>Rahul Krishnan</h1>
                    <div class="page-scroll">
                        <p class="job-title">Python Django Developer</p>
                        <a href="#contact" class="btn btn-fill ">Hire me</a>
                        <div class="clearfix visible-xxs"></div>
                        <a href="#portfolio" class="btn btn-border">Explore more</a>
                    </div>
                </div>
            
                <div class="col-md-6 text-right">
                    <img src="static/img/alex-vidal.png" alt="rahulkrishnan">
                </div>

            </div>
        </div>
    </div><!-- /.hero -->

    <main id="main" class="site-main">

        <section id="about" class="site-section section-about text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>About</h2>
                        <img src="static/img/lines.svg" class="img-lines" alt="lines">
                        <p>Hello!, I'm R Rahul Krishnan, a self-taught Python Django Developer based in Trivandrum. Despite my background in English Literature, I've always been passionate about technology and coding. I taught myself Python and Django and completed a 6-month internship, gaining valuable experience working on a variety of projects. I love finding innovative solutions to complex problems and am always looking for new challenges and opportunities to learn and grow. Let's connect and explore exciting opportunities together!</p>
                        <a href="https://www.linkedin.com/in/r-rahul-krishnan-248707254" class="btn btn-fill" target="_blank" download>Know more</a>
                    </div>
                </div>
            </div>
        </section><!-- /.secton-about -->

        <section class="site-section section-skills">
            <div class="container">
                <div class="text-center">
                    <h3>My Skills</h3>
                    <img src="static/img/lines.svg" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Python</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="90"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Django</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="87"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>HTML</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="91"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>CSS</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="83"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                    <div class="col-md-4">
                        <div class="skill">
                            <h4>Bootstrap</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="81"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                        <div class="skill">
                            <h4>Javascript</h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" data-transitiongoal="60"></div><!-- /.progress-bar -->
                            </div><!-- /.progress -->
                        </div><!-- /.skill -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-skills -->

        <section id="service" class="site-section section-services overlay text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>What i do</h3>
                        <img src="static/img/lines.svg" class="img-lines" alt="lines">
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="static/img/front-end.svg" alt="Front End Developer">
                            <h4>Front-end</h4>
                            <p>I have some deep knowledge in front-end  with a passion for creating engaging and user-friendly websites.
                                I have a strong command of HTML and CSS, as well as experience with Bootstrap for responsive design. In addition, I am knowledge in JavaScript and have experience using it to create interactive web elements and dynamic user interfaces.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="static/img/back-end.svg" alt="Back End Developer">
                            <h4>Back-end</h4>
                            <p>With experience in Python and Django, I specialize in building scalable and efficient web applications with a focus on back-end development.
                                My deep understanding of database management, and server-side scripting enables me to create secure and reliable back-end systems.</p>
                        </div><!-- /.service -->
                    </div>
                    <div class="col-sm-4">
                        <div class="service">
                            <img src="static/img/consultancy.svg" alt="Coding">
                            <h4>Design</h4>
                            <p>Proficient in Canva, I design visually engaging graphics for a variety of purposes, including social media, infographics, and presentations.
                                I have experience to create custom designs that effectively communicate their message. With an eye for aesthetics and attention to detail, I create designs that are both unique and effective.</p>
                        </div><!-- /.service -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-services -->

        <section id="portfolio" class="site-section section-portfolio">
            <div class="container">
                <div class="text-center">
                    <h3>My recent Works</h3>
                    <img src="static/img/lines.svg" class="img-lines" alt="lines">
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="static/img/Portfolio-1.jpg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>TODO-APP</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem1"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="https://todochecklist.pythonanywhere.com/"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="static/img/Portfolio-2.jpg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>ABC STORES</h4>
                                <a href="#" data-toggle="modal" data-target="#portfolioItem2"><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a href="https://abcstores.pythonanywhere.com/"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="static/img/Portfolio-3.jpg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Coming Soon</h4>
<!--                                <a href="#" data-toggle="modal" data-target="#portfolioItem3"><span class="glyphicon glyphicon-eye-open"></span></a>-->
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="static/img/Portfolio-4.jpg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Coming Soon</h4>
<!--                                <a href="#" data-toggle="modal" data-target="#portfolioItem4"><span class="glyphicon glyphicon-eye-open"></span></a>-->
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="static/img/Portfolio-5.jpg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Coming Soon</h4>
<!--                                <a href="#" data-toggle="modal" data-target="#portfolioItem5"><span class="glyphicon glyphicon-eye-open"></span></a>-->
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="static/img/Portfolio-6.jpg" class="img-res" alt="">
                            <div class="portfolio-item-info">
                                <h4>Coming Soon</h4>
<!--                                <a href="#" data-toggle="modal" data-target="#portfolioItem6"><span class="glyphicon glyphicon-eye-open"></span></a>-->
                                <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                            </div><!-- /.portfolio-item-info -->
                        </div><!-- /.portfolio-item -->
                    </div>
                </div>
            </div>
        </section><!-- /.secton-portfolio -->

<!--        <section class="site-section section-counters text-center">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-sm-4 col-xs-12">-->
<!--                        <p class="counter start" data-to="10" data-speed="2000">0</p>-->
<!--                        <h4>Years Experience</h4>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4 col-xs-12">-->
<!--                        <p class="counter start" data-to="120" data-speed="2000">0</p>       -->
<!--                        <h4>Projects Delivered</h4>      -->
<!--                    </div>-->
<!--                    <div class="col-sm-4 col-xs-12">-->
<!--                        <p id="infinity" class="counter" data-from="0" data-to="1" data-speed="1000">0</p>-->
<!--                        <h4>Seconds on this site!<br>What are you waiting for?</h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>&lt;!&ndash; /.section-counters &ndash;&gt;-->

        <section id="contact" class="site-section section-form text-center">
            <div class="container">
                <h3>Contact</h3>
                <img src="static/img/lines.svg" class="img-lines" alt="lines">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="name" class="form-control mt-x-0" placeholder="Name" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="message" id="mesaage" class="form-control" placeholder="Message" required></textarea>
                        </div>
                    </div>
                    <button href="#" class="btn btn-border" type="submit">Hire Me <span class="glyphicon glyphicon-send"></span></button>
                <br><br><br>
                {% if error %}
                <p class="text-danger">{{ error }}</p>
                {% endif %}
                {% if message %}
                <p class="text-success">{{ message }}</p>
                {% endif %}
                </form>
            </div>
        </section><!-- /.section-form -->


<br><br><br><br><br><br>

    <footer id="colophon" class="site-footer" style="position: absolute; bottom: 0; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
<!--                    <a class="icon facebook-bg" href="#"><i class="icon-facebook"></i></a>-->
<!--                    <a class="icon twitter-bg" href="#"><i class="icon-twitter"></i></a>-->
<!--                    <a class="icon gplus-bg" href="#"><i class="icon-linkedin"></i></a>-->
<!--                    <a class="icon linkedin-bg" href="#"><i class="icon-gplus"></i></a>-->
                </div>
                <div class="col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3"><p class="copyright">2023. All Rights Reserved</p></div>
                <div class="col-sm-4 col-xs-3">
                    <div class="text-right page-scroll">
<!--                        <a class="icon icon-up-bg" href="#hero"><i class="icon-up"></i></a>-->
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- /#footer -->

    </main><!-- /#main -->

    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="static/img/Portfolio-1.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">TODO-APP</h4>
            <p>A todoapp with CRUD (Create, Read, Update, Delete) function is a powerful tool for organizing tasks and managing time effectively. With the ability to create new tasks, read and view existing ones, update task details, and delete completed or unnecessary ones, users can stay on top of their to-do lists with ease. The app can also prioritize tasks and set reminders to ensure important deadlines are not missed. Additionally, a CRUD-enabled todoapp allows for collaboration and sharing of tasks with team members, providing a seamless workflow for project management. Whether it's for personal or professional use, a todoapp with CRUD function is a versatile and essential tool for maximizing productivity and achieving goals.</p>
          </div>
          <div class="modal-footer">
            <a href="https://todochecklist.pythonanywhere.com/" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="static/img/Portfolio-2.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">ABC STORES</h4>
            <p>Introducing ABCStores, an ecommerce project that showcases the creation of an online platform for purchasing fresh fruits and vegetables. This project is built on Python, Django, HTML, CSS, and Bootstrap, incorporating essential features such as guest login, add delete update cart, search option, and pagination. These features highlight the capabilities of Django and provide an excellent foundation for building a seamless ecommerce platform.
                Please note that ABCStores is a sample project and is not suitable for real-world use. However, it serves as an excellent reference for those interested in learning more about Django and ecommerce development. At ABCStores, our mission is to provide a user-friendly platform that emphasizes the potential of Django and ecommerce. We hope this project inspires you to create your own ecommerce platform and explore the exciting world of online shopping.
                We welcome your feedback and suggestions as we continue to improve ABCStores. Explore our website and learn more about ecommerce development today.</p>
          </div>
          <div class="modal-footer">
            <a href="https://abcstores.pythonanywhere.com/" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="static/img/Portfolio-3.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Project title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem4" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="static/img/Portfolio-4.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Project title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem5" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="static/img/Portfolio-5.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Project title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="portfolioItem6" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <a class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
            <img class="img-res" src="static/img/Portfolio-6.jpg" alt="">
          </div>
          <div class="modal-body">
            <h4 class="modal-title">Project title</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo finibus tristique. Maecenas dignissim condimentum sem eu tincidunt. Curabitur in dui quis magna vestibulum pulvinar a ut urna. Nam pellentesque mattis urna. Aenean eget lectus sit amet turpis facilisis consectetur quis vel ante. Integer in massa ut nibh ultricies sagittis imperdiet in ante. Nam sed turpis vel ante placerat feugiat ac tempus magna. Nam aliquet ullamcorper dolor non hendrerit.</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-fill">Visit Page</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/js/skrollr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-progressbar/0.9.0/bootstrap-progressbar.min.js"></script>
    <script src="static/js/jquery.countTo.min.js"></script>
    <script src="static/js/script.js"></script>
  
</body>
</html>
